input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #292321;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

input[type="radio"] + label span::before {
  content: "\f043";
  font-family: "FontAwesome";
  margin: 0 auto;
  color: rgba(0,0,0,.1);
}

input[type="radio"] + label span {
  background-color: #c2c3c4;
}

input[type="radio"]:checked + label span {
  background-color: #DC3545;
}

input[type="radio"]:checked + label span::before {
  
  color: #fff;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.index {
  font-size: 1.5em;
  color: #DC3545;
  font-weight: bold;
}

.question .question .index{
  font-size: 1.1em;
}

.label__checkbox {
  display: none;
}
.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: white;
  vertical-align: middle;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}
.label__check.disabled{
  border: 2px solid rgba(231, 76, 60, .1);
}
.label__check i.icon {
  opacity: 0.2;
  font-size: 1rem;
  color: transparent;
  -webkit-transition: opacity .3s .1s ease;
  transition: opacity .3s .1s ease;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}
.label__check.disabled i.icon{
  color: rgba(231, 76, 60, .1) !important;
}
.label__check:hover {
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.label__check.disabled:hover{
  border: 2px solid rgba(231, 76, 60, .2);
}
.label__checkbox:checked + .label__text .label__check {
  -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
          animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.label__checkbox:checked + .label__text .label__check .icon {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  -webkit-animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
          animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}